@CHARSET "UTF-8";

/* widgets */
.crm-core-widget {
  background-color: #f3f3f3;
  border-bottom: 1px solid #CCC;
}
.crm-core-widget div.view-header {
  text-align: center !important;
	display: table;
  width: 100%;
  border-bottom: 1px solid #CCC;
  padding: 0em;
  margin: 0em;
}
.crm-core-widget .view-header .view-header {
  border-bottom: none;
  text-align: center;
}
.crm-core-widget .view-header .view-header P {
  padding: 0em;
  margin: 0em;

}
.crm-core-widget .view-header .view {
	display: table-cell;
  text-align: left;
  border-right: 1px solid #CCC;
  padding: 0em;
}
.crm-core-widget .view-header .view:last-of-type {
  border-right: none;
}


.crm-core-widget .view-header .view .view-header {
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 0em;
  margin: 0em;
  text-align: center;
  color: #777;
}
.crm-core-widget .view-header .crm-core-widget-info {
}
.crm-core-widget .view-header .crm-core-widget-info .view-content {
	text-align: center;
	font-weight: 600;
}
.crm-core-widget .view-content {
  text-align: center;
  font-weight: 600;
  padding: 1em 0em 1.5em;
}
.crm-core-widget .view-content .field-content {
  text-align: center;
  font-size: 2em;
}
.crm-core-widget .view-header .view-content .field-content {
  font-size: 1.5em;
}
.crm-core-widget .view-content .views-label {
	display: block;
	width: 100%;
	font-weight: 600;
  color: #555;
  margin-bottom: 1em;
  font-size: 1.2em;
}
.crm-core-overview-widget {
  border: 1px solid #CCC;
  text-align: center;
  padding-bottom: .8em;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box;
  overflow: hidden;
  background-color: #e1e1e1;
  padding: .5em 0em .7em 0em;
}
.crm-core-overview-widget .views-row {
	display: table;
	width: 100%;
}
.crm-core-overview-widget .views-row .views-field {
	display: table-cell;
	width: 33%;
}
.crm-core-overview-widget .views-row .views-field .views-label {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: #777;
  width: 100%;
  display: block;
  margin-bottom: 8px;
}
.crm-core-overview-widget .views-row .views-field .field-content {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
}





.view-petition-totals,
.view-donations-totals {
  margin-bottom: 12px;
}
.view-donations-overview-alt .views-exposed-form {
  margin-top: 12px;
}
.view-donations-overview-alt .views-field-field-donation-amounts {
  font-weight: 600;
  text-align: center;
  color: #777;
  font-size: 1.2em;
}
.info-panel {
  border: 1px solid #CCC;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: .8em;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box;
  overflow: hidden;
}
.info-panel .views-label {
  background-color: #CCC;
  font-size: .7em;
  text-transform: underline;
  text-align: left;
  font-weight: 600;
  display: block;
  width: 100%;
  padding: .5em;
  margin-bottom: 12px;
  color: #777;
}

/* Dates */
.total-highlight {
	background-color: #ccc;
	text-align: center;
	font-weight: 600;
	width: auto;
	display: inline-block;
	padding: .3em .8em;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box;
  margin-left: auto;
  margin-right: auto;
}
.views-exposed-form {
  background-color: #e1e1e1;
  padding: 1em;
  font-size: 0.9em;
}
.views-exposed-form .control-group {
  margin: 0em .5em 0em 0em;
  padding: 0em;
}
.views-widget-filter-field_activity_date_value {
}
#edit-field-activity-date-value-wrapper,
#edit-field-donation-amounts-value-wrapper {
  display: table;
  float: none;  
  width: 100%;
  margin: 0em 0em 1em 0em;
  padding: 0em 0em 1em 0em;
  border-bottom: 1px solid #CCC;
}
#edit-field-donation-amounts-value-wrapper LABEL,
#edit-field-activity-date-value-wrapper LABEL {
  font-size: inherit;
  margin: 0em;
  padding: 0em 1em 0em 0em;
  width: auto;
  display: table-cell;
  vertical-align: middle;
  color: #777;
}
#edit-field-donation-amounts-value-wrapper .views-widget,
#edit-field-activity-date-value-wrapper .views-widget {
  display: table-cell;
  vertical-align: middle;
}
#edit-field-donation-amounts-value-wrapper .control-group,
#edit-field-activity-date-value-wrapper .control-group {
  display: table;
}
#edit-field-donation-amounts-value-wrapper .control-group LABEL,
#edit-field-activity-date-value-wrapper .control-group LABEL {
  display: table-cell;
  vertical-align: top;
}
#edit-field-donation-amounts-value-wrapper .control-group .controls,
#edit-field-activity-date-value-wrapper .control-group .controls {
  display: table-cell;
  vertical-align: top;
}
#edit-field-donation-amounts-value-wrapper .views-widget,
#edit-field-activity-date-value-wrapper .views-widget {
  display: table;
  vertical-align: top;
}

#edit-field-donation-amounts-value-wrapper .views-widget .control-group,
#edit-field-activity-date-value-wrapper .views-widget .control-group {
  display: table-cell;
  padding: 0em .5em 0em 0em;
}
#edit-field-activity-date-value-wrapper #edit-field-activity-date-value-min-wrapper, 
#edit-field-activity-date-value-wrapper #edit-field-activity-date-value-max-wrapper {
  display: table-cell;
}
#edit-field-activity-date-value-wrapper #edit-field-activity-date-value-min-wrapper LABEL, 
#edit-field-activity-date-value-wrapper #edit-field-activity-date-value-max-wrapper LABEL {
  display: table-cell;
  vertical-align: middle;
  margin: 0em;
  padding: 0em .5em 0em 0em;
}
#edit-field-activity-date-value-wrapper #edit-field-activity-date-value-min-wrapper .controls, 
#edit-field-activity-date-value-wrapper #edit-field-activity-date-value-max-wrapper .controls {
  display: table-cell;
  vertical-align: middle;
}
#edit-field-activity-date-value-wrapper #edit-field-activity-date-value-min-wrapper .controls INPUT, 
#edit-field-activity-date-value-wrapper #edit-field-activity-date-value-max-wrapper .controls INPUT {
  margin: 0em;
}

.views-exposed-form .views-exposed-widget {
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0em 0em 0em 0em;
}

.view-header {
  padding: .5em;
  margin: 0em 0em .5em 0em;
  
}
.view-empty {
  margin: 1em 0em;
  padding: 1em;
  background-color: #e1e1e1;
  font-size: 2em;
  text-align: center;
  color: #777;
  font-weight: 600;
  line-height: normal;
}