.homebox-crm_core_dashboard .homebox-column-wrapper-2 {
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -moz-background-clip: border; 
  -webkit-background-clip: border-box; 
  background-clip: border-box;
  background-color: #f3f3f3;
}
#homebox .homebox-portlet {
  background-color: transparent;
}

#homebox-buttons {
}
#homebox .homebox-column {
  background-image: none;
}
#homebox .homebox-portlet  {
  border: none;
  position: relative;
}
#homebox .homebox-portlet .portlet-icon {
  display: none;
}
#homebox .homebox-portlet:hover .portlet-icon {
  display: block;
}
#homebox .homebox-portlet .portlet-header {
	background-color: transparent;
	border: none;
}
#homebox .homebox-portlet .portlet-header .portlet-title {
	position: absolute;
  top: 4px;
  left: -18px;
  background-color: #fb3208;
  padding: .4em .8em;
  font-weight: 600;
  line-height: 1.5em;
}
#homebox .homebox-portlet .portlet-content {
  padding: 1em 0em 0em 0em;
}
#homebox .homebox-portlet .portlet-content .view-empty {
  margin: 0em;
}
#homebox .homebox-portlet .homebox-portlet-inner {
  border: none;
}
/* donations header */

#homebox .homebox-portlet.crm_core_block_petitions  .portlet-header .portlet-title {
	background-color: #ece417;
}
#homebox .homebox-portlet.crm_core_block_donations  .portlet-header .portlet-title {
	background-color: #85de25;
}
