/*
 * Css for donation module
 */
#crm-core-profile-entry-form.donation fieldset {
}

label[for='edit-activity-field-donation-amounts-und-select'],
label[for='edit-activity-field-donation-dedication-type-und'],
label[for='edit-contact-name-und-0'] {
  display:none;
}

#crm-core-profile-entry-form.donation #dedication_info {
  display:none;  
}

/*
 * Amounts
 */
#crm-core-profile-entry-form.donation #amounts {
}

#crm-core-profile-entry-form.donation #amounts div.form-type-radio {
}

#crm-core-profile-entry-form.donation #amounts div.form-type-radio input {
}

/*
 * IMO/IHO
 */
#crm-core-profile-entry-form.donation #dedication {
/*border: 1px solid #CCCCCC;
padding:5px;
overflow:hidden;
margin: 10px 0;
*/
}

#crm-core-profile-entry-form.donation #dedication div.form-type-radio {
}

#crm-core-profile-entry-form.donation #dedication div.form-type-radio input {
  width:auto;
}



/*
 * Billing information
 */
#crm-core-profile-entry-form.donation #billing {
}

#crm-core-profile-entry-form.donation #billing fieldset {
  margin-top: 0;
}

#crm-core-profile-entry-form.donation #billing < fieldset {
}

#crm-core-profile-entry-form.donation #billing label,
#crm-core-profile-entry-form.donation #billing div.description {
}

#crm-core-profile-entry-form.donation #billing #edit-field-billing-address fieldset {
  border:0;
  margin-bottom:5px;
}

#crm-core-profile-entry-form.donation #billing #edit-field-billing-address fieldset legend {
  display:none;
}


#crm-core-profile-entry-form.donation #billing #edit-field-billing-address .fieldset-wrapper {
  margin:0;
  padding:0;
}

div.form-item-field-billing-address-und-0-country {
  display:none;
}

#crm-core-profile-entry-form.donation #billing div.form-type-name-element {
  margin:0;
}

#crm-core-profile-entry-form.donation #billing .form-item-field-contact-email-und-0-email {
  margin:0;
}

/*
 * payment
 */
#crm-core-profile-entry-form.donation #payment fieldset {
}

select#edit-cc-expiration-day {
  display:none;
}

/*
 * Donate button
 */
#crm-core-profile-entry-form.donation input#edit-submit {
}

/* Recurring donation */

#crm-core-profile-entry-form.donation fieldset#edit-recurring {
  clear:both;  
}

#crm-core-profile-entry-form.donation fieldset#edit-recurring .form-item {
}

#donation_footer,
#donation_header {
}
